.idea/**/shelf
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.vscode/
build/
cmake-*
coverage/*
!coverage/.gitkeep
ios/ios.xcodeproj/project.xcworkspace/*
ios/ios.xcodeproj/xcuserdata/
ios/ios.xcodeproj/xcshareddata/
**/.DS_Store
**/__pycache__/
android/app/.cxx/
pv_*.js
pv_*.wasm
/res/wav/*.vlr
/res/wav/*.aln
/res/wav/*.pnm
**/node_modules
temp_ws
pv_*_mock.h
pv_*_mock.c
graphiz
script/.idea
**/*_test_collections.c
res/performance/*.json
res/pcm/*
artifacts/