numpy>=1.24.0; sys_platform != 'win32' or platform_machine != 'ARM64'
pvorca==../../binding/python/dist/pvorca-1.1.0-py3-none-any.whl
pvspeaker==1.0.5
tiktoken==0.8.0; sys_platform != 'win32' or platform_machine != 'ARM64'
