name: Python Performance

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/python-perf.yml'
      - 'binding/python/__init__.py'
      - 'binding/python/_orca.py'
      - 'binding/python/_util.py'
      - 'binding/python/test_orca_perf.py'
      - 'lib/common/**'
      - 'lib/linux/**'
      - 'lib/mac/**'
      - 'lib/raspberry-pi/**'
      - 'lib/windows/**'
  pull_request:
    branches: [ main, 'v[0-9]+.[0-9]+' ]
    paths:
      - '.github/workflows/python-perf.yml'
      - 'binding/python/__init__.py'
      - 'binding/python/_orca.py'
      - 'binding/python/_util.py'
      - 'binding/python/test_orca_perf.py'
      - 'lib/common/**'
      - 'lib/linux/**'
      - 'lib/mac/**'
      - 'lib/raspberry-pi/**'
      - 'lib/windows/**'

defaults:
  run:
    working-directory: binding/python

jobs:
  perf-github-hosted:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
        include:
          - os: ubuntu-latest
            proc_performance_threshold_rtf: 5.0
          - os: windows-latest
            proc_performance_threshold_rtf: 3.0
          - os: macos-latest
            proc_performance_threshold_rtf: 3.0

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Pre-build dependencies
        run: python3 -m pip install --upgrade pip

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Test
        run: >
          python3 test_orca_perf.py
          --access-key ${{secrets.PV_VALID_ACCESS_KEY}}
          --device cpu:1
          --num-test-iterations 10
          --proc-performance-threshold-rtf ${{matrix.proc_performance_threshold_rtf}}

  perf-self-hosted:
    runs-on: ${{ matrix.machine }}

    strategy:
      fail-fast: false
      matrix:
        machine: [ rpi3-32, rpi3-64, rpi4-32, rpi4-64, rpi5-64 ]
        include:
          - machine: rpi3-32
            proc_performance_threshold_rtf: 1.0
          - machine: rpi3-64
            proc_performance_threshold_rtf: 1.0
          - machine: rpi4-32
            proc_performance_threshold_rtf: 2.0
          - machine: rpi4-64
            proc_performance_threshold_rtf: 2.0
          - machine: rpi5-64
            proc_performance_threshold_rtf: 2.0

    steps:
      - uses: actions/checkout@v3

      - name: Machine state before
        working-directory: resources/.scripts
        run: bash machine-state.sh

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Test
        run: >
          python3 test_orca_perf.py
          --access-key ${{secrets.PV_VALID_ACCESS_KEY}}
          --device cpu:1
          --num-test-iterations 10
          --proc-performance-threshold-rtf ${{matrix.proc_performance_threshold_rtf}}

      - name: Machine state after
        working-directory: resources/.scripts
        run: bash machine-state.sh

  perf-windows-arm64:
    runs-on: ${{ matrix.machine }}

    strategy:
      fail-fast: false
      matrix:
        machine: [ pv-windows-arm64 ]
        include:
          - machine: pv-windows-arm64
            proc_performance_threshold_rtf: 3.0

    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Test
        run: >
          python3 test_orca_perf.py
          --access-key ${{secrets.PV_VALID_ACCESS_KEY}}
          --device cpu:1
          --num-test-iterations 10
          --proc-performance-threshold-rtf ${{matrix.proc_performance_threshold_rtf}}
