name: Web Performance

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - 'lib/wasm/**'
      - 'lib/common/**'
      - '.github/workflows/web-perf.yml'
  pull_request:
    branches: [ main, 'v[0-9]+.[0-9]+' ]
    paths:
      - 'lib/wasm/**'
      - 'lib/common/**'
      - '.github/workflows/web-perf.yml'

defaults:
  run:
    working-directory: binding/web

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ lts/* ]
        device: [ cpu:1 ]
        include:
          - node-version: lts/*
            num_test_iterations: 10
            proc_performance_threshold_sec: 10

    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js LTS
        uses: actions/setup-node@v3
        with:
          node-version: lts/*

      - name: Install dependencies
        run: yarn install

      - name: Copy libs
        run: yarn copywasm

      - name: Build
        run: yarn build

      - name: Prepare Test
        run: yarn setup-test

      - name: Test
        run: yarn test-perf --env ACCESS_KEY=${{secrets.PV_VALID_ACCESS_KEY}},DEVICE=${{matrix.device}},NUM_TEST_ITERATIONS=${{matrix.num_test_iterations}},PROC_PERFORMANCE_THRESHOLD_SEC=${{matrix.proc_performance_threshold_sec}}
